langchain
psycopg2-binary
python-dotenv
openai
google-generativeai
supabase
tiktoken
unstructured
ssl
nltk
PyPDF2
atlassian-python-api
bs4
kuzu
google-cloud-aiplatform
zep-python
duckduckgo-search
nomic
gpt4all
pyllamacpp
google-search-results
